@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@1,100&family=Open+Sans&family=Oswald&family=Playfair:ital,wght@1,300&family=Raleway:wght@400;600&family=Roboto+Mono:ital,wght@1,300&family=Roboto:wght@300&family=Source+Code+Pro:wght@500&display=swap');

/* navbar q2 */
nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5rem;
    align-items: center;
}
nav button{
    float: right;
    margin-right: 20px;
    border-radius: 10px 10px;
    margin-top: 20px;
    height: 3rem;
    min-width: 25%;
    width: 40%;
    background-color: #38de33;
}
.link a{
    padding: 50px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.logo{
    width: 40%;
}

/* main body q1*/
.container{
    height: 95vh;
    width: 99%;
    display: grid;
    grid-template: 100% / 50% 30% 20%;
} 
.item{
    height: 95vh;
    align-self: end;
}
.img1{
    height: 95vh;
    width: 100%;
}
.item3{
    background-color: #f5f116;
}
.content{
    padding: 20%;
    width: 60%;
}
.content h1{
    font-size: 3.5rem;
}
.content p{
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
    color: darkgray;
}
.content button{
    height: 3rem;
    width: 50%;
    background-color:black;
    color: aliceblue; 
    
}

/* swiggy part q3 */
.swiggyContainer{
    height: 60vh;
    width: 99%;
    background-color: #2e2727;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.swiggyItem{
    justify-self: center;
}
.swiggyImg{
    height: 20rem;
    padding-left: 12em;

}
.features{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    padding-left: 1.8em;
    padding-top: 3em;
    
}
.description{
    color: aliceblue;
    font-family: monospace;
    font-size: 1.3rem;
    text-align: center;
    padding-left: 3.6em;
}

/* section q4 */
.sectionContainer{
    margin-top: 5rem;
    height: 50vh;
    width: 99%;
    display: grid;
    grid-template-columns: 500px 500px 500px;
    background-color: #ffffff;
    /* padding: 2rem; */
    justify-content: space-between;  
}
.sec_img{
    width: 100%;
    height: 70%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.section{
    border: 2px solid black;
    border-radius: 30px 30px;
}
.sec_link{
    text-decoration: none;
    color: #2e2727;
    font-size: 3em;
    padding-left: 2.7em;
    margin-bottom: 2em; 
}
.sec_p1{
    color: rgb(113, 116, 118);
    font-family: monospace;
    font-size: 1.3rem;
    text-align: center;
}

/* Footer q5 */
.footer{
    height: 60vh;
    width: 99%;
    background-color: #2e2727;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer_logo{
    padding: 6rem;
    width: 60%;
}
.footer_main{
    color: #ffffff;
    font-size: 3em;
    font-family: monospace;
    font-weight: bold;
    margin-top: 6rem;
    margin-left: 2rem;
}
ol{
    list-style-type: none;
    line-height: 2.0;
    padding: 3rem;
}
li a{
    color:rgba(244, 239, 239, 0.702);
    text-decoration: none;
    font-size: 2em;
}
